@tailwind base;
@tailwind components;
@tailwind utilities;


.btn{
    @apply flex h-fit w-fit px-4 py-2 rounded-md text-white bg-brand-red my-auto transition-all hover:bg-black hover:text-white shimmer-effect1;
}

.shimmer-effect {
    @apply bg-black text-white;
    -webkit-mask: linear-gradient(120deg, #fff 35%, #a91d5592, #a91d54 45%)
      right/250% 100%;
    animation: shimmer1 2.5s infinite;
  }
  
  @keyframes shimmer1 {
    100% {
      -webkit-mask-position: left;
    }
  }
  
  .shimmer-effect1 {
    -webkit-mask: linear-gradient(120deg, #fff 35%, #a91d5592, #a91d54 45%)
      right/250% 100%;
    animation: shimmer2 2.5s infinite;
  }
  
  @keyframes shimmer2 {
    100% {
      -webkit-mask-position: left;
    }
  }
  